body {
    margin: 0%;
    padding: 0%;
    font-family: 'Lexend', sans-serif;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 30px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: bold;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');

    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-size: 600px, 80px;
}

.banner {
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 400px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
}

.benner-description {
    font-size: 20px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 110px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.about-info {
    text-align: center;
}

#what-i-do-des {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    /* width: 100px;    */
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute {
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-institute,
.resume-item-description {
    color: #757575;
}

.resume-container hr {
    /* margin: 35px; */
    width: 550px;
    height: 1px;

}

.download-cv {
    margin: 20px 0px;
    text-align: center;
}

footer {
    margin-top: 50px;
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;

}

.footer-column {
    width: 50%;
}

.social-links {
    margin-right: 25px;
}

.contact input[type="text"],
.contact [type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

/* responsive style */
/* mobile devices */
@media screen and (max-width: 576px) {
    .header {
        background-image: none;
    }
    nav,
    .banner,
    .skills-container,
    .resume-container,
    .about-info-container {
        flex-direction: column;
    }

    .banner .profile-pic {
        width: 100%;
    }
    .btn-primary{
        margin-bottom: 15px;
    }

    .skill {
        text-align: center;
    }

    .resume-column-title {
        text-align: center;
    }

    .resume-item-title {
        text-align: center;
    }

    .resume-item-institute {
        text-align: center;
    }

    .resume-item-institute,
    .resume-item-description {
        text-align: center;
    }

    .resume-container hr {
        width: 500px;
        height: 1px;
    }

    .download-cv {
        margin: 20px 0px;
        text-align: center;
    }

    .banner, #what-i-do-des {
        padding: 20px;
    }

    footer,
    .about {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
    }

    .social-links {
        text-align: center;
    }

    .contact input[type="text"],
    .contact [type="email"],
    textarea {
        width: 80%;
    }

}


@media screen and (min-width: 576px) and (max-width: 960px) {
     
    .btn-primary{
        margin-bottom: 15px;
    }
    .skills-container,
    .resume-container {
        flex-direction: column;
    }

    .resume-column-title {
        text-align: center;
    }

    .resume-item-title {
        text-align: center;
    }

    .resume-item-institute {
        text-align: center;
    }

    .resume-item-institute,
    .resume-item-description {
        text-align: center;
    }

    .resume-container hr {
        width: 700px;
        height: 1px;
    }

    .download-cv {
        margin: 20px 0px;
        text-align: center;
    }

    #what-i-do-des {
        padding: 20px;
    }

    footer,
    .about {
        padding: 40px;
        /* flex-direction: column; */
        align-items: center;
    }

    .social-links {
        text-align: center;
    }
}